

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/LOGO_ASAAP_2.png');
    background-size: 30vw;
    /* A imagem cobre o fundo */
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    /* Torna a imagem semi-transparente */
    z-index: -1;
    /* Coloca a imagem atrás do conteúdo */
}

